<section class="hero is-white is-fullheight">
    <div class="hero-body">
        <div class="columns is-multiline is-align-items-center">
            <div class="column is-12">
                <h1
                    class="title is-size-1 has-text-weight-light is-flex is-justify-content-center is-align-items-center has-text-centered">
                    <img src="assets/images/icon.png" class="logo mr-2">
                    Scan Drive
                </h1>
            </div>
            <div class="column is-12">
                <p class="has-text-centered  subtitle has-text-weight-light is-size-5 mb-5">
                    ${ translate.get('download').subtitle }
                </p>
            </div>
            <div class="column is-6 has-text-right has-text-centered-touch">
                <a href="https://apps.apple.com/us/developer/cyril-ichti/id1594232410">
                    <img src="assets/images/badge-ios.png" alt="Scan Drive Ios" />
                </a>
            </div>
            <div class="column is-6 has-text-left has-text-centered-touch">
                <a href="https://play.google.com/store/apps/developer?id=Seeren">
                    <img src="assets/images/badge-android.png" alt="Scan Drive Android" />
                </a>
            </div>
        </div>
    </div>
</section>