<app-feature-header></app-feature-header>

<section class="hero is-large columns">
    <div class="hero-body is-medium-padding column is-offset-2-desktop is-8-desktop">
        <h1 class="is-size-2 title has-text-white is-relative" itemscope="featureList">
            ${ translate.get('assemble').features.rename.title }
            <span class="title-icon material-icons has-text-white">edit</span>
        </h1>
        <p class="subtitle has-text-white mt-6">
            ${ translate.get('assemble').features.rename.description }.
        </p>
    </div>
</section>
<section class="hero is-large columns">
    <div class="hero-body is-medium-padding column is-offset-2-desktop is-8-desktop">
        <h1 class="is-size-2 title has-text-white is-relative" itemscope="featureList">
            ${ translate.get('assemble').features.organise.title }
            <span class="title-icon material-icons has-text-white">flip_to_front</span>
        </h1>
        <p class="subtitle has-text-white mt-6">
            ${ translate.get('assemble').features.organise.description }.
        </p>
    </div>
</section>
<section class="hero is-large columns">
    <div class="hero-body is-medium-padding column is-offset-2-desktop is-8-desktop">
        <h1 class="is-size-2 title has-text-white is-relative" itemscope="featureList">
            ${ translate.get('assemble').features.rotate.title }
            <span class="title-icon material-icons has-text-white">loop</span>
        </h1>
        <p class="subtitle has-text-white mt-6">
            ${ translate.get('assemble').features.rotate.description }.
        </p>
    </div>
</section>
<section class="hero is-large columns">
    <div class="hero-body is-medium-padding column is-offset-2-desktop is-8-desktop">
        <h1 class="is-size-2 title has-text-white is-relative" itemscope="featureList">
            ${ translate.get('assemble').features.proportion.title }
            <span class="title-icon material-icons has-text-white">aspect_ratio</span>
        </h1>
        <p class="subtitle has-text-white mt-6">
            ${ translate.get('assemble').features.proportion.description }.
        </p>
        <div class="menu is-dark">
            <p class="menu-label">
                ${ translate.get('assemble').features.proportion.proportionList.label }
            </p>
            <ul class="menu-list is-dark">
                <li><a>${ translate.get('assemble').features.proportion.proportionList.minimum }</a></li>
                <li><a>${ translate.get('assemble').features.proportion.proportionList.maximum }</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="hero is-medium is-relative is-danger">
    <div class="hero-body has-text-centered">
        <button class="button is-large is-rounded is-dark" onclick="exportComponent()">
            <span class="material-icons">arrow_forward_ios</span>
            <a class="has-text-white" href="/${ translate.getLanguage() }/export">${
                translate.get('app').navbar.featuresItems[3] }</a>
        </button>
    </div>
</section>