<section class="columns hero is-large is-light capture ${ translate.getLanguage() } ${ routeName } pt-6">
    <div class="hero-body column is-offset-2-desktop is-6-tablet is-5-desktop">
        <h1 class="title">
            ${ translate.get(routeName)?.title }
        </h1>
        <p class="subtitle">
            ${ translate.get(routeName)?.description }.
        </p>
    </div>
    <meta itemprop="screenshot" content="assets/images/screen-device-${ translate.getLanguage() }-exporter.png" />
</section>