<footer class="footer navbar is-light">
    <div class="content has-text-centered is-flex-grow-1">
        <p class="">
            <a itemprop="name" onclick="policy()" href="/${ this.translate.getLanguage() }/policy">Scan Drive</a>, ${ this.translate.get('app').footer.baseline
            .replace('Google Play', `<a target="_blank" href="https://play.google.com/store/apps/developer?id=Seeren">Google Play</a>`)
            .replace('App Store', `<a target="_blank" href="https://apps.apple.com/us/developer/cyril-ichti/id1594232410">App Store</a>`) }
        </p>
    </div>
</footer>