app-footer {
    &.instagram {
        background-image: url(assets/images/socials/instagram.png);
    }
    &.facebook {
        background-image: url(assets/images/socials/facebook.png);
    }
    &.twitter {
        background-image: url(assets/images/socials/twitter.png);
    }
    &.youtube {
        background-image: url(assets/images/socials/youtube.png);
    }
    &.tiktok {
        background-image: url(assets/images/socials/tiktok.svg);
    }
    .social {
        padding-bottom: 3rem;
    }
    img {
        height: 2em;
    }
}
