<footer class="footer navbar social">
    <div class="content has-text-centered is-flex-grow-1">
        <a class="m-4" target="_blank" href="https://www.instagram.com/scan.drive.app/"><img src="assets/images/socials/instagram.png"></a>
        <a class="m-4" target="_blank" href="https://www.facebook.com/Scan-Drive-105886965480321"><img src="assets/images/socials/facebook.png"></a>
        <a class="m-4" target="_blank" href="https://twitter.com/Scan_Drive"><img src="assets/images/socials/twitter.png"></a>
        <a class="m-4" target="_blank" href="https://www.tiktok.com/@scandrive"><img src="assets/images/socials/tiktok.svg"></a>
        <a class="m-4" target="_blank" href="https://www.youtube.com/channel/UCuOKm0M6nPfeyS11ErSt9fA"><img src="assets/images/socials/youtube.png"></a>
    </div>

</footer>
<footer class="footer navbar is-light">
    <div class="content has-text-centered is-flex-grow-1">
        <p class="">
            <a itemprop="name" onclick="policy()" href="/${ this.translate.getLanguage() }/policy">Scan Drive</a>, ${
            this.translate.get('app').footer.baseline
            .replace('Google Play', `<a target="_blank" href="https://play.google.com/store/apps/developer?id=Seeren"
                class="is-apple">Google Play</a>`)
            .replace('App Store', `<a target="_blank"
                href="https://apps.apple.com/us/developer/cyril-ichti/id1594232410">App Store</a>`) }
        </p>
    </div>

</footer>